<!-- Filtros -->
<div class="filters">
  <h2>Filter Options</h2>
  <label for="doctorFilter">Doctor:</label>
  <input type="text" id="doctorFilter" [(ngModel)]="filtros.doctor" (input)="applyFilters()">

  <label for="pacienteFilter">Paciente:</label>
  <input type="text" id="pacienteFilter" [(ngModel)]="filtros.paciente" (input)="applyFilters()">

  <label for="fechaDesdeFilter">Fecha desde:</label>
  <input type="date" id="fechaDesdeFilter" [(ngModel)]="filtros.fechaDesde" (input)="applyFilters()">

  <label for="fechaHastaFilter">Fecha hasta:</label>
  <input type="date" id="fechaHastaFilter" [(ngModel)]="filtros.fechaHasta" (input)="applyFilters()">

  <label for="categoriaFilter">Categoria:</label>
  <select id="categoriaFilter" [(ngModel)]="filtros.categoria" (change)="applyFilters()">
    <option value="">Selecciona una categoría</option>
    <ng-container *ngFor="let categoria of categorias">
      <option [value]="categoria.id">{{ categoria.descripcion }}</option>
    </ng-container>
  </select>
</div>

<!-- Agregar Ficha Clínica -->
<div class="clinical-record-form">
  <h2>Agregar Ficha Clínica con Reserva</h2>
  <form (submit)="agregarFichaClinicaConReserva()">
    <label for="reserva">Reserva:</label>
    <select id="reserva" [(ngModel)]="nuevaFichaClinica.reserva" name="reserva">
      <option value="">Selecciona una reserva</option>
      <ng-container *ngFor="let reserva of reservasDeTurno">
        <option [ngValue]="reserva">{{ reserva.doctor.nombre }} {{ reserva.doctor.apellido }} - {{ reserva.paciente.nombre }} {{ reserva.paciente.apellido }} - {{ reserva.fecha | date: "dd/MM/yyyy" }} - {{ reserva.hora }}</option>
      </ng-container>
    </select>

    <label for="motivoConsulta">Motivo de Consulta:</label>
    <input type="text" id="motivoConsulta" [(ngModel)]="nuevaFichaClinica.motivoConsulta" name="motivoConsulta">

    <label for="diagnostico">Diagnóstico:</label>
    <input type="text" id="diagnostico" [(ngModel)]="nuevaFichaClinica.diagnostico" name="diagnostico">

    <label for="categoria">Categoría:</label>
    <select id="categoria" [(ngModel)]="nuevaFichaClinica.categoria" name="categoria">
      <option value="">Selecciona una categoría</option>
      <ng-container *ngFor="let categoria of categorias">
        <option [ngValue]="categoria">{{ categoria.descripcion }}</option>
      </ng-container>
    </select>

    <button type="submit" id="addClinicalRecordButton">Agregar Ficha Clínica</button>
  </form>
</div>

<div class="clinical-record-form-2">
  <h2>Agregar Ficha Clínica sin Reserva</h2>
  <form (submit)="agregarFichaClinica()">
    <label for="Doctor">Doctor:</label>
    <select id="doctor" [(ngModel)]="nuevaFichaClinica.doctor" name="doctor">
      <option value="">Selecciona un Doctor</option>
      <ng-container *ngFor="let persona of personas">
        <ng-container *ngIf="persona.flag_es_doctor">
          <option [ngValue]="persona">{{ persona.nombre + ' ' + persona.apellido }}</option>
        </ng-container>
      </ng-container>
    </select>

    <label for="Paciente">Paciente:</label>
    <select id="paciente" [(ngModel)]="nuevaFichaClinica.paciente" name="paciente">
      <option value="">Selecciona un Paciente</option>
      <ng-container *ngFor="let persona of personas">
        <ng-container *ngIf="!persona.flag_es_doctor">
          <option [ngValue]="persona">{{ persona.nombre + ' ' + persona.apellido }}</option>
        </ng-container>
      </ng-container>
    </select>

    <label for="motivoConsulta">Motivo de Consulta:</label>
    <input type="text" id="motivoConsulta" [(ngModel)]="nuevaFichaClinica.motivoConsulta" name="motivoConsulta">

    <label for="diagnostico">Diagnóstico:</label>
    <input type="text" id="diagnostico" [(ngModel)]="nuevaFichaClinica.diagnostico" name="diagnostico">

    <label for="categoria">Categoría:</label>
    <select id="categoria" [(ngModel)]="nuevaFichaClinica.categoria" name="categoria">
      <option value="">Selecciona una categoría</option>
      <ng-container *ngFor="let categoria of categorias">
        <option [ngValue]="categoria">{{ categoria.descripcion }}</option>
      </ng-container>
    </select>

    <label for="date">Fecha:</label>
      <input type="date" id="reservanueva_date" [(ngModel)]="nuevaFichaClinica.fecha" name="date">

    <button type="submit" id="addClinicalRecordButton">Agregar Ficha Clínica</button>
  </form>
</div>

<!-- boton para descargar el excel de las fichas filtradas  -->
<button (click)="exportExcel()">Descargar Excel de las fichas filtradas</button>

<!-- boton para descargar el PDF de las fichas filtradas  -->
<button (click)="exportPDF()">Descargar PDF de las fichas filtradas</button>

<!-- Lista de Fichas Clínicas -->
<div id="Exportar">
<h2>Tabla de Fichas Clínicas</h2>
<table>
  <thead>
    <tr>
      <th>Doctor</th>      
      <th>Paciente</th>
      <th>Fecha</th>
      <th>Motivo de Consulta</th>
      <th>Diagnóstico</th>
      <th>Categoría</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let fichaClinica of fichasClinicasFiltradas; let i = index">
      <td>{{ fichaClinica.doctor.nombre }} {{fichaClinica.doctor.apellido}}</td>
      <td>{{ fichaClinica.paciente.nombre }} {{fichaClinica.paciente.apellido}}</td>
      <td>{{ fichaClinica.fecha | date: "dd/MM/yyyy"}}</td>
      <td>{{ fichaClinica.motivoConsulta }}</td>
      <td>{{ fichaClinica.diagnostico }}</td>
      <td>{{ fichaClinica.categoria.descripcion }}</td>
    </tr>
  </tbody>
</table>
</div>